<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <form class="form-horizontal" method="post" action="" novalidate>
                {% for item in form %}
                    <div class="form-group">
                        {{ item.label(class_="col-sm-2 control-label") }}
                        <div class="col-sm-10">
                            {{ item }}
                            <span class="text-danger">{{ item.errors[0] }}</span>
                        </div>
                    </div>
                {% endfor %}
  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success">{{ flags }}</button>
                    </div>
                </div>
</body>
</html>